.productListContainer {
	width: 100%;
	overflow-y: auto;
	padding-bottom: 100px;
}

.productListContainer.loading {
	padding-bottom: 0;
}

.productListContainer .loadingSpinner {
	display: none;
	height: 100px;
	align-items: center;
	justify-content: center;
}

.productListContainer.loading .loadingSpinner {
	display: flex;
}