.sidebarContainer {
	width: 360px;
	height: 100%;
	overflow-y: auto;
}

@media (max-width: 768px) {
	.sidebarContainer {
		width: 100%;
		transform: translateX(-100%);
		transition: transform 0.4s;
		position: absolute;
		z-index: 100;
	}

	.sidebarContainer.visible {
		transform: translateX(0);
	}
}