.gbrContainer {
	margin: 16px;
}

.gbrHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #fff;
    margin-bottom: 8px;
}

.collapseButton {
	cursor: pointer;
}

.collapseIcon {
	color: #fff;
	font-size: 24px;
	transition: transform 0.2s;
}

.collapseContainer {
	overflow: hidden;
    margin: 0 -8px;
    padding: 0 8px;
}

.gbrContainer.collapsed .collapseContainer {
	height: 0;
}

.gbrContainer.collapsed .collapseIcon {
	transform: rotate(180deg);
}

.gbrFieldName {
	color: #fff;
    font-size: 18px;
}

.gbrCheckLabel {
	display: flex;
	flex: 1;
	align-items: center;
	margin-bottom: 4px;
}

.gbrCheckLabelName {
	flex: 1;
	color: #fff;
	margin-left: 8px;
}

.filterRow {
	display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 16px;
    padding: 0px 8px;
    margin-left: -8px;
    margin-right: -8px;
}

.filterRow:hover {
	background-color: #848383;
}